---
import MainLayout from '../layouts/MainLayout.astro'
import SearchForm from '../components/SearchForm.astro'
import { HOMEPAGE_ARTICLE_LIMIT } from '../constants';
import ArticleCard from '../components/ArticleCard.astro';
import MostRecentArticle from '../components/MostRecentArticle.astro';

import { getCollection, type CollectionEntry } from 'astro:content';

const allBlogArticles: CollectionEntry<'blog'>[] = (await getCollection('blog')).sort((a,b) =>b.data.pubDate.valueOf() - a.data.pubDate.valueOf() );
// console.log(allBlogArticles[0]);

const mostRecentArticle:CollectionEntry<'blog'> = allBlogArticles[0]

const otherArticles:CollectionEntry<'blog'>[] = allBlogArticles.slice(1)

---
    <MainLayout>
      <!-- Top Grid (left side and right side) -->
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 items-start">
        <!-- Left side-->
        <div>
          <h1 class="text-5xl font-bold mt-4 mb-8 leading-tight xl:text-6xl">
            Preparate pentru iarnă și nu numai, rețete sănătoase.
          </h1>
         <SearchForm/>
        </div>
       <MostRecentArticle article={mostRecentArticle}/>
      </div>
      <!-- Main Grid -->
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-2">
        {otherArticles.slice(0,HOMEPAGE_ARTICLE_LIMIT).map((article) =>
      <ArticleCard article={article}/>
      )}
      </div>
      
 </MainLayout>

